body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(#43009B, #642F52); */
  /* background: rgb(23, 23, 23); */
  background-color: black;
  background-repeat: no-repeat;
  overflow-x: hidden;
  min-height: 100vh;
}

#root {
  /* background: linear-gradient(#61029b12, #ff00ef1f); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
