<div class="container about-content" data-location="about">
    <h1 class="text-white">About Me</h1>
    <div class="row">
        <div class="col-2">
            <div class="img" id="profShot"></div>
        </div>
        <div class="col">
            <p class="text-light text-left" style="margin: 31.5px 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing bibendum est ultricies integer quis auctor elit sed. Elementum nibh tellus molestie nunc non. Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. Pellentesque sit amet porttitor eget dolor morbi non arcu.</p>
        </div>
    </div>
    <h1 class="text-white text-right mt-5">Education</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <p class="text-light text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing bibendum est ultricies integer quis auctor elit sed. Elementum nibh tellus molestie nunc non. Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. Pellentesque sit amet porttitor eget dolor morbi non arcu.</p>
        </div>
    </div>
    <h1 class="text-white text-left mt-5">Future Ambitions</h1>
    <div class="row">
        <div class="col-10 ml-4">
            <p class="text-light text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing bibendum est ultricies integer quis auctor elit sed. Elementum nibh tellus molestie nunc non. Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. Pellentesque sit amet porttitor eget dolor morbi non arcu.</p>
        </div>
    </div>
</div>