<div class="container projects-content" data-location="projects">
    <h1 class="text-white">Projects</h1>
    <div class="row mt-5">
        <div class="col-3">
            <div class="card proj">
                <div class="card-body">
                    <h4 class="card-title text-white">Word Guess Game</h4>
                    <p class="card-text text-light">About word guess game</p>
                    <a href="https://soundwubz.github.io/Word-Guess-Game/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/Soundwubz/Word-Guess-Game/" target="_blank" class="card-link">Github Repo</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card proj">
                <div class="card-body">
                    <h4 class="card-title text-white">Star Wars RPG</h4>
                    <p class="card-text text-light">About Star Wars RPG</p>
                    <a href="https://soundwubz.github.io/Star-Wars-RPG/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/Soundwubz/Star-Wars-RPG/" target="_blank" class="card-link">Github Repo</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card proj">
                <div class="card-body">
                    <h4 class="card-title text-white">Giphy Search</h4>
                    <p class="card-text text-light">About Giphy Search</p>
                    <a href="https://soundwubz.github.io/giphy-search/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/Soundwubz/giphy-search/" target="_blank" class="card-link">Github Repo</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card proj">
                <div class="card-body">
                    <h4 class="card-title text-white">Multiplayer Rock Paper Scissors</h4>
                    <p class="card-text text-light">About Multiplayer RPS</p>
                    <a href="https://soundwubz.github.io/Multiplayer-RPS/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/Soundwubz/Multiplayer-RPS/" target="_blank" class="card-link">Github Repo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <div class="card proj">
                <div class="card-body">
                    <h4 class="card-title text-white">Animal Search Service</h4>
                    <p class="card-text text-light">About Animal Search Service</p>
                    <a href="https://soundwubz.github.io/project-1/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/Soundwubz/project-1/" target="_blank" class="card-link">Github Repo</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card proj">
                <div class="card-body">
                    <h4 class="card-title text-white">LIRI</h4>
                    <p class="card-text text-light">About LIRI</p>
                    <a href="https://github.com/Soundwubz/liri-node-app" target="_blank" class="card-link">Github Repo</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card proj">
                <div class="card-body">
                    <h4 class="card-title text-white">Friend Finder</h4>
                    <p class="card-text text-light">About Friend Finder</p>
                    <a href="https://serene-bastion-60928.herokuapp.com/" target="_blank" class="card-link">Live Site</a>
                    <a href="https://github.com/Soundwubz/FriendFinder" target="_blank" class="card-link">Github Repo</a>
                </div>
            </div>
        </div>
    </div>
</div>