.title {
    font-size: 4rem;
}

p {
    font-size: 1.25rem;
}

.content {
    border-radius: 20px;
    background: #80008029;
    box-shadow: 0px 0px 20px 15px #8000803b;
    padding: 10px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}
.title-cont {
    position: relative;
    padding-bottom: 10px;
}

.line {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    margin-bottom: 10px;
}

.left-text {
    padding-right: 100px;
    float: left;
}