.title {
    /* font-size: 4rem; */
}

p {
    font-size: 1.25rem;
}

.content {
    border-radius: 20px;
    background: #ffffff05;
    box-shadow: 0px 0px 20px 15px #ffffff05;
    padding: 10px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}
.title-cont {
    position: relative;
    text-align: center;
}

.title-row {
    /* background: linear-gradient(#ff3f824c, #60029b38); */
    /* background: #262626; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cont-row {
    /* background: linear-gradient(rgba(255, 63, 130, 0.15), rgba(96, 2, 155, 0.15)); */
    /* margin: 0px 10px; */
    padding: 0px 30px;
}

.line {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    margin-bottom: 10px;
}

.left-text {
    padding-right: 100px;
    float: left;
}

.row {
    position: relative;
}

@media only screen and (max-width: 992px) {
    .title {
        /* font-size: 3rem; */
    }
    p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .para {
        text-align: center !important;
    }
    .content-spacer {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .content {
        padding: 0;
    }

    .content .row {
        padding: 0px 10px;
    }

    .footer {
        margin-bottom: 50px;
    }
}