.gh-text {
    margin: 20px 0px;
    padding-left: 50px;
    padding-right: 10px;
}

.github {
    position: relative;
    top: 22px;
}

.contact-btn {
    background: #302a2a31;
    border-radius: 10px;
}

.contact-btn:hover {
    background: #1715154d;   
}

.col-break-576 {
    display: none;
}

.alert-badge {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    
    .github img {
        height: 48px;
        width: 48px;
    }
}

@media only screen and (max-width: 768px) {
    .gh-text {
        margin: 0;
    }
    .github {
        top: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .col-break-576 {
        display: block;
    }
    .gh-text {
        padding: 0;
    }
}

@media only screen and (min-width: 577px) {
    .col-bp-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
}