/* medium font weight: 500 */

body{
    background: linear-gradient(#43009B, #642F52);
    /* height: 100vh; */
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu';
}

p {
    font-family: 'Raleway';
    font-weight: 500;
}


#name {
    font-weight: 900;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
}

.profile {
    background: url('../img/profile.jpeg');
    background-position-x: -250px;
    background-position-y: -10px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 800px 600px;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
 #subText{
     text-align: center;
     font-size: 1.8rem;
 }

 .open-button {
     background: url('../img/navbutton.png');
     background-size: contain;
     width: 75px;
     height: 75px;
     margin: 70px 0px;
     cursor: pointer;
 }

 .home-content, .about-content, .projects-content {
     margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
    transition: ease .5s;
    margin-bottom: 5em;
 }

 .home-content {
     text-align: center;
 }
 
 .home-content p {
     padding: 20px 0px 50px 15px;
 }

 .github {
     width: 64px;
     height: 64px;
 }

 #profShot {
     background: url('../img/profshot.jpeg');
     background-size: contain;
     background-position: center;
     width: 150px;
     height: 150px;
     border-radius: 15px;
     float: right;
 }

 .home-content h2 {
     padding: 10px 0;
 }

 #contact {
     font-family: 'Raleway';
 }
 .about-content, .projects-content{
     display: none;
     opacity: 0;
 }


.nav {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.33);
    /* border-radius: 5px; */
    position: fixed;
    top: 0;
    right: -35%;
    height: 100vh;
    width: 35%;
    -moz-transition: right .5s;
    transition: right .5s;

    z-index: 1;
    background: inherit;
    overflow: hidden;
 }

 .nav:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(67, 0, 65, 0.5);
    filter: blur(10px);
    margin: -20px;
 }

 .nav-btn{
     margin-top: 2em;
     cursor: pointer;
     display: inline-block;
 }

 .close-btn{
    width: 50px;
    height: 50px;
    background: url('../img/close-button.png');
    background-size: contain;
    margin-top: 3em;
 }

 .close-btn:hover{
     cursor:pointer;
 }

 .card.proj {
    /* width: 250px; */
    background: inherit;
    border: 0;
    box-shadow: 0px 0px 5px rgb(65, 6, 83);
}