/* medium font weight: 500 */

body{
    background: linear-gradient(#43009B, #642F52);
    height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Ubuntu';
}

p {
    font-family: 'Raleway';
    font-weight: 500;
}


#name {
    font-weight: 900;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
}

.profile {
    background: url('../img/profile.jpeg');
    background-position-x: -250px;
    background-position-y: -10px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 800px 600px;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
 #subText{
     text-align: center;
     font-size: 1.8rem;
 }

 .nav-button {
     background: url('../img/navbutton.png');
     background-size: contain;
     width: 75px;
     height: 75px;
     margin: 70px 0px;
 }

 #content {
     margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
 }


.nav {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.33);
    /* border-radius: 5px; */
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35%;

    z-index: 1;
    background: inherit;
    overflow: hidden;
 }

 .nav:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(67, 0, 65, 0.5);
    filter: blur(10px);
    margin: -20px;
 }

 .nav-btn{
     margin-top: 2em;
 }

 .close-btn{
    width: 50px;
    height: 50px;
    background: url('../img/close-button.png');
    background-size: contain;
    margin-top: 3em;
 }

 .close-btn:hover{
     cursor:pointer;
 }