#name {
    font-weight: 900;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    background: linear-gradient(#ff3f82, #61029b);
    background-clip: text;
    color: transparent;
}


.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left: 40px;
    /* background: url("/img/profile.jpeg"); */
    background-position: -250px -10px;
    background-size: 800px 600px;
}
 #subText{
     text-align: center;
     font-size: 1.8rem;
 }

 .open-button {
     width: 75px;
     height: 75px;
     margin: 50px 0px;
     cursor: pointer;
     /* background: linear-gradient(#43009B, #642F52); */
 }

 @media only screen and (max-width: 1180px) {
     #name {
         font-size: 5rem;
     }
     #subText {
         font-size: 1.7rem
     }
 }

 @media only screen and (max-width: 1024px) {
     #name {
         font-size: 4rem;
     }
     .profile {
        width: 150px;
        height: 150px;
        background-position-x: -245px;
        background-position-y: -20px;
        background-size: 700px 500px;
     }
     .open-button {
         width: 50px;
         height: 50px;
     }
     #subText {
         font-size: 1.5rem;
     }
 }

 @media only screen and (max-width: 992px) {
     .profile {
         width: 125px;
         height: 125px;
         margin-left: 20px;
         background-size: 650px 450px;
         background-position-x: -235px;
     }
 }

 @media only screen and (max-width: 768px) {
     #name {
         font-size: 3rem;
     }
     #subText {
         font-size: 1rem;
     }
     .profile {
        width: 100px;
        height: 100px;
        margin-left: 20px;
        background-size: 625px 425px;
        background-position-x: -240px;
        background-position-y: -15px;
     }
     .open-button {
         margin: 40px 0px;
     }
 }

 @media only screen and (max-width: 576px) {
     #name {
         font-size: 2rem;
         padding-bottom: 10px;
     }
     #subText {
         font-size: .85rem;
     }
     .profile {
        width: 75px;
        height: 75px;
        margin-left: 15px;
        background-size: 500px 350px;
        background-position-x: -195px;
        background-position-y: -12px;
     }
     .open-button {
         width: 35px;
         height: 35px;
     }
 }

 @media only screen and (max-width: 375px) {
     .profile {
         width: 65px;
         height: 65px;
         background-size: 490px 340px;
     }
 }