.col-break {
    display: none;
}

@media only screen and (max-width: 768px) {
    .col-break {
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    .col-bp-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}