<div class="container about-content" data-location="about">
    <h1 class="text-white">About Me</h1>
    <div class="row">
        <div class="col-2">
            <div class="img" id="profShot"></div>
        </div>
        <div class="col">
            <p class="text-light text-left" style="margin: 31.5px 0px;">
                I’ve lived in Harrisburg, Pennsylvania my entire life. I have always had a deep fascination with technology. It’s been my dream for years to not only obtain a career in technology, but also to have a good impact on the world with technology. Although I’m extremely nerdy about technology, it isn’t my only hobby. I am also a car enthusiast who just enjoys a chance to get out on the open road for relaxation.
            </p>
        </div>
    </div>
    <h1 class="text-white text-right mt-5">Education</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <p class="text-light text-right">
                Before starting high school, just the thought of learning how to code seemed too difficult of a task for me to overcome. However, I attended the Dauphin County Technical School for my high school years, and I was introduced to the world of coding. While attending normal core classes, I learned basic web development. Over the course of four years I was taught about HTML, CSS, and JavaScript. I also had the time to branch off and work on my own special projects to experiment with different languages. 
            </p>
        </div>
    </div>
    <h1 class="text-white text-left mt-5">Achievements</h1>
    <div class="row">
        <div class="col-10 ml-4">
            <p class="text-light text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing bibendum est ultricies integer quis auctor elit sed. Elementum nibh tellus molestie nunc non. Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. Pellentesque sit amet porttitor eget dolor morbi non arcu.</p>
        </div>
    </div>
</div>