<div class="container home-content" data-location="home">
    <h1 class="text-white text-left">Welcome to my portfolio!</h1>
    <p class="text-light text-left">I am a full stack application developer who is looking to hit the ground running in the field. I have a total of five years of development experience. This website hosts my best works during my education and beyond. </p>
    <h1 class="text-white text-right">Follow development on Github</h1>
    <div class="row">
        <div class="col">
            <p class="text-light text-right">Take a look at my Github pages to view my live projects. You can also view the project page for direct links to live websites.</p>
        </div>
        <div class="col-1 git-logo-link">
            <a href="https://github.com/soundwubz" target="_blank" class="github">
                <img src="./assets/img/GitHub-Mark-Light-64px.png" alt="Github Logo">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-light text-center">Wish to get in contact?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-dark" id="contact">Contact Me</button>
        </div>
    </div>
</div>